<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong>query:</strong>
  <%= @goal.query %>
</p>

<p>
  This goal will retweet <b><%= @goal.troll.name %></b> if the <%= @goal.trigger_type.upcase %> of <i><%= @goal.mapping %></i> <%= @goal.trigger_calculation %> <%= @goal.trigger_value %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
